@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gagalin&display=swap');







/*REPONSIVIDADE*/








@media (min-width: 370px) and (max-width: 760px) {

  .titca {
    height: 250px;
    width: 270px;
    margin-right: 0px;
  }

  .ini {
    height: 100px;
    width: 100px;
    margin-top: 10px;
  }


  .t2f {
    font-size: 4vw;
  }

  #ff2 {
    font-size: 13px;
  }

  #confemail {
    font-size: 13px;
  }

  #btnconfmail {
    margin-top: 50px;
  }

  #btnconfmail2 {
    margin-top: 50px;
  }


}


@media (min-width: 0px) and (max-width: 370px) {

  .titca {
    height: 200px;
    width: 220px;
    margin-right: 0px;
  }

  .ini {
    height: 100px;
    width: 100px;
    margin-top: 10px;
  }


  .t2f {
    font-size: 4vw;
  }

  #ff2 {
    font-size: 13px;
  }

  #confemail {
    font-size: 13px;
  }

  #btnconfmail {
    margin-top: 50px;
  }

  #btnconfmail2 {
    margin-top: 50px;
  }
}


@media (min-width:0px) and (max-width: 1200px) {

  #ff2 {
    font-size: 11px;
  }
}

@media (min-width:0px) and (max-width: 700px) {
  .f2 {
    height: 750px;
  }

  .t2f {
    margin-left: 20px;
    margin-right: 20px;
  }

  #ff2 {
    font-size: 11px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

#btnconfmail:hover {
  background-color: black;
  color: white;
}

#btnconfmail2:hover {
  background-color: black;
  color: white;
}

#btnconfmail {
  cursor: pointer;
}

#btnconfmail2 {
  cursor: pointer;
}