@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gagalin&display=swap');







/*ESTILO DA ABA CADASTRO DO USUARIO - ETAPA 5 - CONTA CRIADA COM SUCESSO*/








/*CONTAINER DA ABA*/
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  /* Garante que o z-index da imagem de fundo funcione */
  z-index: -1;
}

.containerseg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
  position: relative;
  z-index: 500;
}

/*CONTAINER DO BOTAO VOLTAR E IMAGEM ILUSTRATIVA DA ABA*/
.tituloca {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 95%;
  font-size: 25px;
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
  margin-top: 60px;
  margin-bottom: 100px;
  margin-top: 100px;
}

/*IMAGEM ILUSTRATIVA DA ABA*/
.titca {
  background-image: url('./imagens/criada.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  width: 390px;
  margin-top: 10px;
  margin-top: 50px;
}

/*IMAGEM E BOTAO VOLTAR*/
.ini {
  background-image: url('./imagens/voltar.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  width: 150px;
  margin-top: 10px;
}



/*CONTAINER DO TITULO - CONTEUDO PRINCIPAL DA PAGINA*/
.ct2f {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*TITULO - CONTEUDO PRINCIPAL DA PAGINA*/
.t2f {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
}

/*CONTAINER - CONTEUDO PRINCIPAL DA PAGINA*/
.f2 {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 400px;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 50px;
}

/*SEGUNDO CONTAINER - CONTEUDO PRINCIPAL DA PAGINA*/
.f22 {
  width: 95%;
  display: flex;
  align-items: left;
  justify-content: left;
  height: 400px;
  flex-direction: column;
}

/*CONTAINER DOS BOTÕES INICIO E ATIVAR PLANO*/
.parabens {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

/*BOTÃO IR PARA O INICIO*/
.iniciop {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 20%;
  border-radius: 50px;
  background-color: white;
  font-size: 15px;
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
  cursor: pointer;
}

/*BOTÃO ATIVAR PLANO*/
.pagementop {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 20%;
  border-radius: 50px;
  background-color: white;
  font-size: 15px;
  font-family: "Rubik Mono One", monospace;
  font-style: normal;
  cursor: pointer;
}


.iniciop:hover,
.pagementop:hover {
  background-color: black;
  color: white;
}